<h1>Add a dealership to the Find 'Yo Ride Family</h1>
<div class="form-control">
  <form action="/dealership/success" method="post">
    <label for="dealership_name">Enter the name of the dealership</label>
    <input name="dealership_name" type="text">
    <button type="submit" name="dealership_submit">Submit</button>
  </form>
</div>
<a href = "/">Home</a>
